{$ONEHEALTH_DOMAIN} {
    encode zstd gzip
    reverse_proxy web:8080
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
}

{$DHIS2_DOMAIN} {
    encode zstd gzip
    reverse_proxy dhis2:8080 {
        # DHIS2/Tomcat may emit an internal HTTP redirect behind TLS termination.
        header_down Location "^http://" "https://"
    }
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
}
